.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  overflow: hidden;
}

.logo {
  font-weight: 800;
  font-size: 26px;
  line-height: 20px;
  padding: 5px 0;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
}

.link {
  overflow-x: hidden;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  transform: translateX(105%);
  background-color: var(--accent-green);
  width: 100%;
}

.active_line::after {
  transition: transform 350ms ease;
  transform: translateX(0);
}

.active {
  transition: border 350ms ease;
  color: var(--accent-green);
}

.navigation {
  display: none;
}

@media screen and (min-width: 480px) {
  .navigation {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .burger_btn {
    display: none;
  }
}
